body {
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    height: 600px;
    background-color: #656565;
    display: flex;
    align-items: flex-end;
}

.side-bar {
    width: 75px;
    height: 580px;
    background-color: #4c4b4b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

img {
    height: 40px;
    width: 40px;
    margin: 10px 0 10px 0;
}

.case {
    height: 72.5px;
    width: 75px;
    position: relative;
    margin: auto;
    text-align: center;

}
.logo {
    position: absolute;
    width: 75px;
    height: 72.5px;
    transition: 0.5s;
    z-index: 10;
    background-color:#4c4b4b;
}



.anim {
    position: absolute;
    width: 75px;
    height: 72.5px;
    left: -13px;;
    z-index: 9;
    background-color: #262626;
    transition: 0.5s;
    opacity: 90%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #262626;
    
}

.case:hover .logo {
    background-color: white;
}
.case:hover .anim {
    z-index: 11;
    width: 150px;
    transform: translateX(58%);
}

.case:hover p {
    transition-duration: 0.5s;
    transition-timing-function: step-end;
    color: #fff;
    
    

}

.active {
    background-color: black;
    transition: 0.5s;
}

